dist/
!www/favicon.ico
www/

*~
*.log
*.tmp
*.bak
*.tmp.*
log.txt

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
coverage/
secret/
keys/
src/config/app.json
android/app/release/
resources/ios/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
.env
stats.html
