:host {
  /* Component styles go here */

  .site-blog-share {
    margin: 20px 0 0;

    /* Desktop */
    @include desktop() {
      margin: 0;
    }

    /* Laptop */
    @include alt-laptop() {
      margin: 0;

    }

    /* iPad */
    @include alt-tablet() {
      margin: 0;

    }

    ion-icon.ic-links {
      padding-right: 16px;
      font-size: 24px;
      color: var(--ion-color-light);
    }

    ion-icon.ic-links.ic-linkedin {
      padding-right: 0;
    }
  }
}
