:host {
  /* Component styles go here */

  .main-container {
    padding: 20px 16px;
    @include flexbox(column);
    align-items: center;
    justify-content: center;
    height: 100%;

    .img-container {
      margin: 16px 0;

    }

    h1.title {
      margin: 12px 0;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      color: var(--ion-color-secondary);

    }

    p.text {
      margin: 0 0 52px;
      font-size: 16px;
      font-weight: 400;
      color: var(--ion-color-medium);
      text-align: center;

    }
  }
}
